@import "tailwindcss";


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #000;          /* letterbox = black */
  overflow: hidden;          /* no scrollbars on signage */
}
* { box-sizing: border-box; }
